:root {
  --clr-bm: #97d2f0;
  --clr-am: #d9d9d9;
  --clr-bt: #015478;
  --clr-at: #677483;
  --clr-ijo: #18ad00;
  --clr-wth: #ffffff;
  --clr-blk: #000000;
  --clr-bord: #d0d0d0;
  --clr-text: #666666;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}

.nav__bar {
  display: flex;
  justify-content: space-between;
  position: fixed;
  align-items: center;
  height: 20%;
  width: 100%;
  background: var(--clr-wth);
  padding: 2rem 2rem 2rem 2rem;
  border-bottom: 1px solid var(--clr-bord);
  z-index: 100;
}
.nav__bar .logo {
  height: 85%;
  display: flex;
}
.nav__bar ul {
  display: flex;
  list-style: none;
  gap: 2rem;
}
ul li a {
  color: var(--clr-bt);
  text-decoration: none;
}
hr {
  color: var(--clr-bord);
  height: 6.4rem;
  background: var(--clr-wth);
}
.profil-container {
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  /* margin: 20px; */
}
.nav__bar-profil {
  display: flex;
  justify-content: space-between;
  position: fixed;
  align-items: center;
  height: 20%;
  width: 100%;
  background: #ccdcee;
  padding: 2rem;
}

.profil-container .content {
  background-color: var(--clr-wth);
  height: 100%;
  width: 100%;
  padding: 20px;
  /* flex-grow: 1;
  display: flex; */
  /* width: 100%;
  height: 100%; */
  /* margin-top: 20px;*/
}
.profil-container .sidebar {
  /* width: 260px; */
  background-color: #ccdcee;
  height: 700px;
  /* padding: 30px; */
  /* display: flex; */
  /* box-sizing: border-box; */
  /* 
  flex-direction: column; */
}
.profil-container .sidebar a {
  text-decoration: none;
  color: var(--clr-wth);
  padding-bottom: 20px;
}
.profil-container .sidebar .header {
  background-color: var(--clr-ijo);
  color: var(--clr-wth);
  margin-top: 70px;
  padding: 15px 40px;
}
.profil-container .sidebar .header .list-item a {
  text-decoration: none;
  color: var(--clr-wth);
  padding-bottom: 20px;
}
.profil-container .sidebar .header .list-item {
  display: grid;
}
.profil-container .sidebar .header .list-item-inactive a {
  text-decoration: none;
  color: var(--clr-wth);
  padding-bottom: 20px;
}
.profil-container .sidebar .header .list-item-inactive {
  display: grid;
}
/* .profil-container .content{ */
/* display: flex; */
/* height: 100%;
  width: 100%; */
/* margin: 20px; */
/* } */
.main-content {
  /* grid-template-columns: repeat(2, 1fr);
  flex-grow: 1; */
  display: flex;
  background-color: #ffffff;
  /* padding: 20px; */
  /* margin-left: 20px; */
}
.main-content img {
  width: 150px;
  height: auto;
  border-radius: 50%;
}
.main-content .profil-dokter {
  padding-left: 20px;
}
.main-content .profil-dokter td {
  padding-left: 20px;
}
.main-content .profil-dokter li {
  list-style: none;
}
/* .main-content .biodata {
  margin-top: 20px;
} */
/* .main-content .biodata table {
  width: 100%;
} */
/* .main-content .biodata table td {
  padding: 5px;
} */
/* .main-content .biodata table td:first-child {
  font-weight: bold;
} */
/* -------------------------- Beranda Home ----------------------------- */
.beranda {
  background: url("image/beranda-1.png");
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 8rem 8rem 6.6rem 5rem;
}
.beranda .beranda__first {
  padding-top: 0rem;
}
.beranda .beranda__first p {
  color: var(--clr-text);
}
.beranda .beranda__first h4 {
  padding: 1rem 0rem 2rem 0rem;
  color: var(--clr-blk);
  font-size: 2rem;
}
.beranda .beranda__first .search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.beranda .beranda__first .search-container input[type="text"] {
  width: 300px;
  padding: 10px;
  margin-bottom: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
}
.beranda .beranda__first .search-container .pencarian {
  display: flex;
  padding-top: 10px;
}
.beranda .beranda__first .search-container .pencarian p {
  text-align: center;
  padding-top: 8px;
}
.beranda .beranda__first .search-container .pencarian.searching {
  padding: 10px 20px;
  background-color: var(--clr-wth);
  color: 2px solid #ccc;
  border: 2px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}
.beranda .beranda__first .search-container .search-btn {
  padding: 10px 20px;
  background-color: var(--clr-wth);
  color: 2px solid #ccc;
  border: 2px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  /* display:grid; */
}
.beranda .beranda__first .search-container .search-btn:hover {
  background-color: var(--clr-ijo);
  color: var(--clr-wth);
  border: none;
}

.beranda .beranda__first .search-container .search-options {
  display: flex;
}

.beranda .beranda__first .search-container .search-options .option-btn {
  padding: 10px 20px;
  margin: 0 5px;
  background-color: var(--clr-am);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.beranda .beranda__first .search-container .search-options .option-btn:hover {
  background-color: var(--clr-ijo);
  color: var(--clr-wth);
  border: none;
}

/* .beranda .beranda__first .search-container .search-options .option-btn.active {
  background-color: blue;
  color: var(--clr-blk);
} */
/* .beranda .beranda__first button {
  padding: 0.6rem 1.9rem;
  border: 2px solid var(--clr-bt);
  border-radius: 0.5rem;
  background: transparent;
  margin: 2rem 0;
}
.beranda .beranda__first button:hover {
  background: var(--clr-bt);
  color: var(--clr-wth);
}
.beranda .beranda__second img {
  width: 400px;
  height: 400px;
  margin-left: 5rem;
} */

/* ---------------------- Beranda Artikel ------------------------ */
.beranda-artikel {
  background: url("image/artikel-1.png");
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 8rem 0rem 15rem 5rem;
}
.beranda-artikel .beranda-artikel-pertama {
  padding-top: 0rem;
}
.beranda-artikel .beranda-artikel-pertama h4 {
  padding: 1rem 0rem 2rem 0rem;
  color: var(--clr-am);
  font-size: 2rem;
}
/* ---------------------- Beranda Pelayanan ------------------------ */
/* .beranda-pelayanan {
  background: url("image/pelayanan-1.png");
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 8rem 0rem 9rem 5rem;
} */
/* .beranda-pelayanan .beranda__first {
  padding-top: 0rem;
}
.beranda-pelayanan .beranda__first h4 {
  padding: 1rem 1rem;
  color: var(--clr-wth);
  font-size: 2rem;
} */
/* .beranda-pelayanan .beranda__second{
  padding: 1rem 45rem 0rem 0rem;
} */
/* .beranda-pelayanan .beranda__second input{
  text-align: left;
  border: 2px solid #D6D6D6;
  border-radius: 0.5rem;
  padding: 0.8rem 1rem;
  margin: 0.4rem 1rem;
  width: 94%;
  color: var(--clr-blk);
  background-color: #D6D6D6;
} */
/* .beranda-pelayanan .beranda__second {
  text-align: center;
  padding: 0rem 45rem 0rem 0rem;
  grid-template-columns: repeat(2, 1fr);
}

.beranda-pelayanan .beranda__second input {
  text-align: left;
  display: block;
  border: 2px solid #d6d6d6;
  border-radius: 0.5rem;
  padding: 0.8rem 1rem;
  margin: 0.4rem 1rem;
  width: 94%;
  color: var(--clr-blk);
  background-color: #d6d6d6;
} */
/* .beranda-pelayanan .beranda__second button {
  text-align: center;
  padding: 0.6rem 1.9rem;
  border: 2px solid var(--clr-ijo);
  border-radius: 0.5rem;
  background: var(--clr-ijo);
  margin: 1rem 0;
  color: var(--clr-wth);
} */
/* .beranda-pelayanan .beranda__second button a {
  color: var(--clr-blk);
  text-decoration: none;
} */
/* .beranda-pelayanan .beranda__second button:hover {
  border: 2px solid var(--clr-bt);
  background: var(--clr-bt);
  color: var(--clr-wth);
} */
/* ---------------------- Pelayanan Dokter ------------------------ */
.pelayanan-dokter {
  background: var(--clr-wth);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 2rem;
  text-align: center;
  gap: 1rem;
}
/* Breadcrumb */
.breadcrumb-container {
  font-size: 20px; /* Sesuaikan ukuran font sesuai kebutuhan */
  color: var(--clr-blk); /* Warna teks */
}
.breadcrumb {
  list-style: none;
  display: flex;
  align-items: center; /* Menjaga item breadcrumb tetap sejajar */
  padding: 20px 10px 70px 20px;
  color: var(--clr-bt);
}
.search-section .breadcrumb {
  /* padding: 10px 20px; */
  background: none;
  list-style: none;
  text-align: left;
}
.search-section h1 {
  padding-left: 20px;
  padding-bottom: 25px;
  color: var(--clr-bt);
}
/* search-section .breadcrumb a {
  color: var(--clr-bt);
  text-decoration: none;
} */
.breadcrumb-item {
  display: flex;
  align-items: center;
}
.breadcrumb-item a {
  color: var(--clr-bt); /* Warna teks untuk link */
  text-decoration: none; /* Menghilangkan garis bawah pada link */
}
.breadcrumb-item + .breadcrumb-item::before {
  content: ">";
  margin: 0 10px; /* Jarak antar elemen */
  color: var(--clr-bt); /* Warna separator */
}

/* Search Section */
.search-section {
  text-align: left;
  background: url("image/pelayanan-1.png");
  /* padding: 20px; */
  padding: 8rem 1rem 7rem 1rem;
}
.search-section img {
  width: 100%;
  height: 100%;
}
.search-container {
  display: inline-flex;
  align-items: center;
  background-color: #f0f0f0;
  border-radius: 20px;
  border: 2px solid #cccccc;
  width: 350px;
  /* padding: 5px; */
  /* margin-top: 10px; */
}
.search-section .search-container input {
  border-radius: 0.3rem;
  border: none;
  background: none;
  outline: none;
  padding-left: 30px;
  font-size: 16px;
  flex: 1;
  color: var(--clr-blk);
}
.search-section button {
  padding: 15px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 10px;
  text-align: center;
  margin-left: 10px; /* Menambahkan jarak antara input dan button */
  cursor: pointer;
}
.search-section .search-container button:hover {
  background-color: #45a049;
}
.search-section .search-container i {
  color: #aaa;
  margin-left: 10px;
  margin-right: 5px;
}
.pelayanan-dokter .dokter-card {
  background: var(--clr-am);
  padding-bottom: 1rem;
}
.pelayanan-dokter .dokter-card img {
  width: 90px;
  height: 90px;
  margin: 1rem 0rem 0rem 0rem;
}
.pelayanan-dokter .dokter-card h2 {
  font-size: 20px;
  color: var(--clr-blk);
}
.pelayanan-dokter .dokter-card p {
  font-size: 10px;
  color: var(--clr-text);
}

.pelayanan-dokter .nadok-1 .dokter__one,
.pelayanan-dokter .nadok-2 .dokter__two,
.pelayanan-dokter .nadok-3 .dokter__three,
.pelayanan-dokter .nadok-4 .dokter__four,
.pelayanan-dokter .nadok-5 .dokter__five,
.pelayanan-dokter .nadok-6 .dokter__six {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* padding: 0.5rem; */
  gap: 10px;
  padding: 15px;
}
.pelayanan-dokter .nadok-1 .dokter__one a,
.pelayanan-dokter .nadok-2 .dokter__two a,
.pelayanan-dokter .nadok-3 .dokter__three a,
.pelayanan-dokter .nadok-4 .dokter__four a,
.pelayanan-dokter .nadok-5 .dokter__five a,
.pelayanan-dokter .nadok-6 .dokter__six a {
  border-radius: 1rem;
  /* font-size: 15px; */
  padding: 3px 0;
  background: var(--clr-wth);
  color: var(--clr-blk);
  text-decoration: none;
  /* border: 2px solid var(--clr-bt); */
}
.pelayanan-dokter .nadok-1 .dokter__one a:hover,
.pelayanan-dokter .nadok-2 .dokter__two a:hover,
.pelayanan-dokter .nadok-3 .dokter__three a:hover,
.pelayanan-dokter .nadok-4 .dokter__four a:hover,
.pelayanan-dokter .nadok-5 .dokter__five a:hover,
.pelayanan-dokter .nadok-6 .dokter__six a:hover {
  /* border-radius: 0.5rem; */
  background: var(--clr-ijo);
  color: var(--clr-wth);
}

/* ---------------------- Jumlah Dokter------------------------ */
.jumlah-dokter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1rem 0rem 0rem 0rem;
  grid-template-columns: repeat(3, 1fr);
  background: var(--clr-bm);
  gap: 15rem;
}
.jumlah-dokter h2 {
  color: var(--clr-blk);
  text-align: center;
  font-weight: bold;
}
.jumlah-dokter p {
  /* padding: 0px 0px 0px 0px; */
  color: var(--clr-blk);
  text-align: center;
}
/* -------------------------- About ----------------------------- */
.about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 5rem 8rem;
  gap: 1rem;
  background-color: var(--clr-wth);
}
.about__top h2 {
  text-align: center;
  font-size: 3em;
  padding-top: 1rem;
  background-color: var(--clr-blk);
}
.about__top h2 span {
  color: var(--clr-blk);
}
.about .about__second {
  padding-top: 1rem;
}
.about .about__second h4 {
  color: var(--clr-blk);
  font-size: 2rem;
  padding-bottom: 0rem;
}
.about .about__second p {
  color: var(--clr-text);
  padding-top: 1rem;
}
.about .about__second button {
  padding: 0.6rem 1.9rem;
  border: 2px solid var(--clr-bt);
  border-radius: 0.5rem;
  background: var(--clr-wth);
  margin: 2rem 1rem;
  color: var(--clr-blk);
}
.about .about__first {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* padding: 2rem 10rem 2rem 2rem; */
  text-align: center;
  gap: 1rem;
  padding-bottom: 4rem;
}
.about .about__first a {
  color: var(--clr-ijo);
}
.about .about__first .first-one img {
  width: 180px;
  height: 200px;
  border-radius: 15px;
}
.about .about__first .first-two img {
  width: 180px;
  height: 200px;
  border-radius: 15px;
}
.news {
  padding-top: 3rem;
}
.news .isi {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 5rem 3rem 4rem 3rem;
  text-align: center;
  gap: 1rem;
}
.news h2 {
  padding-left: 4rem;
  color: var(--clr-blk);
}
.news .isi .news_one a,
.news .isi .news_two a,
.news .isi .news_three a,
.news .isi .news_four a,
.news .isi .news_five a,
.news .isi .news_six a,
.news .isi .news_seven a,
.news .isi .news_eight a,
.news .isi .news_nine a {
  font-size: 15px;
  padding: 15px 35px;
  color: var(--clr-blk);
  text-decoration: none;
}
.news .isi .news_one img,
.news .isi .news_two img,
.news .isi .news_three img,
.news .isi .news_four img,
.news .isi .news_five img,
.news .isi .news_six img,
.news .isi .news_seven img,
.news .isi .news_eight img,
.news .isi .news_nine img {
  width: 380px;
  height: 286px;
  padding-bottom: 10px;
  transition: all 0.4s;
}
.news .isi .news_one img:hover,
.news .isi .news_two img:hover,
.news .isi .news_three img:hover,
.news .isi .news_four img:hover,
.news .isi .news_five img:hover,
.news .isi .news_six img:hover,
.news .isi .news_seven img:hover,
.news .isi .news_eight img:hover,
.news .isi .news_nine img:hover {
  transform: translateY(-1.2rem);
}
/* ---------------------- Dokter ------------------------ */
.dokter {
  /* background: var(--clr-wth);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 5rem 3rem 4rem 3rem; */
  text-align: center;
  /* gap: 1rem; */
}
.dokter p {
  padding: 1rem 21rem;
  font-size: 1rem;
}
.dokter h3 {
  /* padding-bottom: 1rem; */
  font-size: 1rem;
}
.dokter .dokter-beranda {
  background: var(--clr-wth);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 5rem 3rem 4rem 3rem;
  text-align: center;
  gap: 1rem;
}
.dokter .dokter-beranda .dokter__one p,
.dokter .dokter-beranda .dokter__two p,
.dokter .dokter-beranda .dokter__three p,
.dokter .dokter-beranda .dokter__four p {
  font-size: 15px;
  padding: 15px 35px;
  color: var(--clr-ijo);
  text-decoration: none;
}
/* .dokter .dokter-beranda .dokter__one a,
.dokter .dokter-beranda .dokter__two a,
.dokter .dokter-beranda .dokter__three a,
.dokter .dokter-beranda .dokter__four a {
  font-size: 15px;
  padding: 5px 35px 5px 35px;
  color: var(--clr-ijo);
  text-decoration: none;
} */
.dokter .dokter-beranda .dokter__one h2,
.dokter .dokter-beranda .dokter__two h2,
.dokter .dokter-beranda .dokter__three h2,
.dokter .dokter-beranda .dokter__four h2 {
  color: var(--clr-ijo);
}
.dokter .dokter-beranda .dokter__one img,
.dokter .dokter-beranda .dokter__two img,
.dokter .dokter-beranda .dokter__three img,
.dokter .dokter-beranda .dokter__four img {
  width: 350px;
  height: 250px;
  padding-bottom: 10px;
  transition: all 0.4s;
}
.dokter .dokter-beranda .dokter__one img:hover,
.dokter .dokter-beranda .dokter__two img:hover,
.dokter .dokter-beranda .dokter__three img:hover,
.dokter .dokter-beranda .dokter__four img:hover {
  transform: translateY(-1.2rem);
}

/* ---------------------- About Page ------------------------ */
.about__page {
  background: linear-gradient(
    to bottom,
    rgba(151, 210, 240, 1) 3%,
    rgba(243, 243, 243) 100%
  );
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 4rem 3rem 4rem 3rem;
  gap: 1rem;
}
.about__page .about_card{
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  font-size: 15px;
  padding: 5px 5px 5px 5px;
  gap: 15px;
  align-items: center;
  color: var(--clr-blk);
  text-decoration: none;
  
}

.about__page .about_card .button{
  border: 1px;
  background: var(--clr-am);
  padding: 10px 15px 10px 15px;
  border-radius: 1rem;
  color: var(--clr-blk);
  font-weight: bold;
  text-decoration: none;
}

.about__page .about_card .button:hover{
  background: var(--clr-ijo);
  color: var(--clr-wth);

}

/* -------------------- Doctor ----------------------- */
.doctor {
  background: var(--clr-blk);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 1rem 8rem;
  text-align: center;
  gap: 1rem;
}
.doctor__title h2 {
  background: var(--clr-blk);
  text-align: center;
  font-size: 3em;
  padding: 1rem 0 6rem 0;
}
.doctor__title h2 span {
  color: var(--clr-blk);
}
.doctor .doctor__one,
.doctor .doctor__two,
.doctor .doctor__three,
.doctor .doctor__four,
.doctor .doctor__five,
.doctor .doctor__six {
  border: 2px solid var(--clr-at);
  border-radius: 0.3rem;
}
.doctor .doctor__one img,
.doctor .doctor__two img,
.doctor .doctor__three img,
.doctor .doctor__four img,
.doctor .doctor__five img,
.doctor .doctor__six img {
  width: 100px;
  height: 100px;
  border: 2px solid var(--clr-at);
  margin: 2rem auto;
  border-radius: 0.3rem;
}
.doctor .doctor__one h2,
.doctor .doctor__two h2,
.doctor .doctor__three h2,
.doctor .doctor__four h2,
.doctor .doctor__five h2,
.doctor .doctor__six h2 {
  color: var(--clr-blk);
}
.doctor .doctor__one p,
.doctor .doctor__two p,
.doctor .doctor__three p,
.doctor .doctor__four p,
.doctor .doctor__five p,
.doctor .doctor__six p {
  color: var(--clr-text);
}
/* ---------------------- Media icon ------------------------- */
.media__icon {
  text-align: center;
  font-size: 1.6em;
  padding: 1rem;
  color: var(--clr-bt);
}
.media__icon i {
  padding: 0.6rem;
  border: 2px solid var(--clr-bt);
  border-radius: 0.3rem;
}
/* ---------------------- Tentang Kami ------------------------- */
.about-hanimal {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 1rem 8rem;
}
.about-hanimal .gambar__first img {
  padding-top: 3.5rem;
  width: 40%;
  height: 100%;
}
.about-hanimal .gambar__second img {
  padding-left: 5rem;
  width: 80%;
  height: 100%;
}
.about-hanimal .about__first h4,
.about-hanimal .about__second h4 {
  text-align: center;
  font-size: 1rem;
  padding: 2rem 0;
}
.about-hanimal .about__first p {
  /* margin-left: 17px; */
  text-align: left;
  font-size: 15px;
}
/* ---------------------- Profil Team ------------------------- */
.profil-team {
  text-align: center;
}
.profil-team .dospem {
  padding-top: 2rem;
}
.profil-team .dospem img {
  width: 25%;
  height: 25%;
  border-radius: 0.3rem;
}
.profil-team .team {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 2rem 4rem;
}
.profil-team .team img {
  width: 80%;
  height: 80%;
}

/* ---------------------- Login V2 ------------------------- */
.login {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 1rem 8rem;
}
.login__title h2 {
  text-align: center;
  font-size: 3em;
  padding: 3rem 0 6rem 0;
}
.login .login__first img {
  width: 300px;
  height: 300px;
}
.login .login__second {
  border: 2px solid var(--clr-bt);
}
.login .login__second h2 {
  text-align: center;
  font-size: 2rem;
  padding: 2rem 0;
}
.login .login__second p {
  margin-left: 17px;
  text-align: left;
  font-size: 15px;
}
.login .login__second input {
  display: block;
  border: 2px solid var(--clr-am);
  padding: 0.8rem 1rem;
  margin: 0.4rem 1rem;
  width: 94%;
  color: var(--clr-blk);
  background-color: var(--clr-wth);
}
.login .login__second button {
  padding: 0.6rem 1.9rem;
  border: 2px solid var(--clr-bt);
  border-radius: 0.5rem;
  background: var(--clr-wth);
  margin: 1rem 0;
  margin: 1rem 13rem;
  color: var(--clr-blk);
}
.login .login__second button a {
  color: var(--clr-blk);
  text-decoration: none;
}
.login .login__second button:hover {
  background: var(--clr-bt);
  color: var(--clr-wth);
}
.logo-login {
  margin-right: 9rem;
  /* padding-right: 21rem; */
  justify-content: right;
  background: var(--clr-two);
  display: grid;
  /* grid-template-columns: repeat(3, 1fr); */
  padding: 1rem 8rem;
  text-align: center;
  gap: 1rem;
}

.logo-login .login-akun {
  border: 2px solid var(--clr-font);
  border-radius: 0.3rem;
}

.logo-login .login-akun p {
  color: var(--clr-text);
}
/* ---------------------- Login ------------------------- */

.head img {
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 0.3rem 25.8rem;
  /* padding: 1rem 0 1rem 25rem; */
  /* padding-left: 10px; */
}
.head .garis img {
  width: 100%;
  padding: 0 26rem;
  /* padding-left: 100px; */
}

.head h2 {
  color: var(--clr-bt);
  text-align: left;
  font-size: 1rem;
  padding: 1rem 26rem 2rem 26rem;
  /* padding: 0.5rem 2rem 1.8rem 1rem; */
}

/* .head p {
  margin-left: 17px;
  text-align: left;
  font-size: 15px;
} */
/* .log-in .ulangpw p {
  margin-left: 17px;
  text-align: right;
  font-size: 15px;
  color: var(--clr-ijo);
}
.log-in .ulangpw a {
  color: var(--clr-ijo);
  text-decoration: none;
} */
.head form {
  /* background-color: #FFFFFF;
	display: flex; */
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 25rem;
  height: 100%;
  text-align: left;
  /* grid-template-columns: repeat(2, 1fr);
  justify-content: space-between; */
}
.head label {
  color: var(--clr-blk);
  padding: 5rem 0;
}
.head input {
  text-align: left;
  /* display: block; */
  border: 2px solid #ccdcee;
  border-radius: 0.5rem;
  padding: 0.8rem 1rem;
  margin: 0.4rem 1rem;
  width: 94%;
  color: var(--clr-blk);
  background-color: #ccdcee;
}
.head a {
  margin-left: 20rem;
  color: var(--clr-ijo);
  text-decoration: none;
}
.head button {
  text-align: center;
  border: 2px solid var(--clr-ijo);
  border-radius: 0.5rem;
  background: var(--clr-ijo);
  color: var(--clr-wth);
  padding: 12px 25px;
  margin: 1rem 11.1rem;
}
/* .head button a {
  color: var(--clr-blk);
  text-decoration: none;
} */
.head button:hover {
  border: 2px solid var(--clr-bt);
  background: var(--clr-bt);
  color: var(--clr-wth);
}
.akun {
  background: var(--clr-two);
  display: grid;
  padding: 1rem 8rem;
  text-align: center;
  gap: 1rem;
}
.akun .akun-web {
  text-align: center;
  border: 2px solid var(--clr-font);
  border-radius: 0.3rem;
}
.akun .akun-web p {
  color: var(--clr-text);
}
.akun .akun-web a {
  color: var(--clr-ijo);
}
.form-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.form-column {
  flex: 1;
  margin-right: 20px;
}

.form-column:last-child {
  margin-right: 0;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="file"] {
  width: 100%;
  padding: 8px;
  margin: 8px 0;
  box-sizing: border-box;
}

.signup-for button {
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

.signup-for button:hover {
  background-color: #45a049;
}
.img-account-profile {
  width: 150px; /* Sesuaikan ukuran sesuai kebutuhan */
  height: 150px; /* Sesuaikan ukuran sesuai kebutuhan */
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}
.rounded-circle {
  border-radius: 50% !important;
}
.card {
  box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);
}
.card .card-header {
  font-weight: 500;
}
.card-header:first-child {
  border-radius: 0.35rem 0.35rem 0 0;
}
.card-header {
  padding: 1rem 1.35rem;
  margin-bottom: 0;
  background-color: rgba(33, 40, 50, 0.03);
  border-bottom: 1px solid rgba(33, 40, 50, 0.125);
}
.form-control,
.dataTable-input {
  display: block;
  width: 100%;
  padding: 0.875rem 1.125rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1;
  color: #69707a;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #c5ccd6;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.35rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
/* ---------------------- Pembayaran ------------------------- */
.pembayaran {
  display: flex;
  /* display: grid; */
  /* grid-template-columns: repeat(2, 1fr); */
  padding: 1rem 8rem;
  justify-content: space-between;
  gap: 5rem;
}

.pembayaran .container {
  width: 400px;
  border-radius: 8px;
  padding: 40px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 5px 12px -2px rgba(0, 0, 0, 0.1),
    0 18px 36px -6px rgba(0, 0, 0, 0.1);
}
.pembayaran .container form input {
  display: none;
  margin-top: 10px;
  padding-top: 20px;
}
.pembayaran .container form .category {
  margin-top: 10px;
  padding-top: 20px;
}
.pembayaran .container .category label {
  width: 100%;
  height: 65px;
  padding: 20px;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
}
label:nth-child(2),
label:nth-child(3) {
  margin: 15px 0;
}

#kredit:checked ~ .category .kreditMethod,
#bri:checked ~ .category .briMethod,
#dana:checked ~ .category .danaMethod,
#ovo:checked ~ .category .ovoMethod,
#qris:checked ~ .category .qrisMethod,
#cod:checked ~ .category .codMethod {
  box-shadow: 0px 0px 0px 1px #015478;
}
#kredit:checked ~ .category .kreditMethod .check,
#bri:checked ~ .category .briMethod .check,
#dana:checked ~ .category .danaMethod .check,
#ovo:checked ~ .category .ovoMethod .check,
#qris:checked ~ .category .qrisMethod .check,
#cod:checked ~ .category .codMethod .check {
  display: block;
}

label .imgName {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.imgName span {
  margin-left: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
.imgName .imgContainer {
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.kredit img {
  height: 10px;
}
.check {
  display: none;
}
.check i {
  font-size: 18px;
}
.pembayaran .invoice h2 {
  color: var(--clr-bt);
  padding-top: 5px;
  padding-bottom: 15px;
  text-align: center;
}
.pembayaran .container h2 {
  color: var(--clr-bt);
  padding-top: 5px;
  text-align: center;
}
.invoice a {
  text-decoration: none;
  background-color: var(--clr-ijo);
  color: var(--clr-wth);
  padding: 10px;
  border-radius: 5px;
}

.pembayaran-atm a {
  text-decoration: none;
  background-color: var(--clr-ijo);
  color: var(--clr-wth);
  padding: 10px;
  border-radius: 5px;
  margin-left: 3rem;
}

/* .pembayaran .invoice .data form {
  background-color: #FFFFFF;
	display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px 20px;
  padding-left: 28px; */
/* height: 100%;
  text-align: left;
} */
/* .pembayaran .invoice .data input {
  display: block;
  border: 2px solid var(--clr-am);
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin: 5px;
  width: 98%;
  color: var(--clr-blk);
  background-color: var(--clr-wth);
} */
/* .pembayaran .invoice .data button {
  padding: 0.7rem;
  border: none;
  border-radius: 0.5rem;
  background: var(--clr-ijo);
  margin: 0.5rem 0rem 0rem 12rem;
  margin: 1rem 13rem;
  text-align: center;
  color: var(--clr-wth);
} */
/* .pembayaran .invoice .data button a {
  color: var(--clr-blk);
  text-decoration: none;
}
.pembayaran .invoice .data button:hover {
  background: var(--clr-bt);
  color: var(--clr-wth);
} */

/* Style untuk container pembayaran */
.pembayaran .category label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Style untuk nama dan ikon */
.imgName {
  display: flex;
  align-items: center;
}

/* Style untuk ikon cek */
.fa-circle-check {
  color: var(--clr-bt); /* Warna biru tua untuk ikon cek */
  font-size: 24px;
}

/* Style untuk teks dan gambar */
.imgContainer img {
  width: 50px; /* Atur lebar gambar */
  margin-right: 10px;
}

.name {
  font-weight: bold;
}
.invoice {
  text-align: center;
  background: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 5px 12px -2px rgba(0, 0, 0, 0.1),
    0 18px 36px -6px rgba(0, 0, 0, 0.1);
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

.form-invoice .row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.form-invoice .col-50 {
  flex: 0 0 48%;
}

.form-invoice .col-100 {
  flex: 0 0 100%;
}

.form-invoice input[type="text"],
.form-invoice input[type="number"],
.form-invoice input[type="tel"] {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.total-line {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-top: 2px solid #ccc;
  font-weight: bold;
}

.form-invoice button {
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.pembayaran-atm .halper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 1rem 8rem;
  border: 2px solid #ccc;
  margin: 3rem 5rem;
  background-color: var(--clr-am);
}
.pembayaran-atm .gmbr-bri {
  text-align: right; /* Pastikan konten dalam div ini disejajarkan ke kanan */
  padding: 10px; /
}
.pembayaran-atm .gmbr-bri img {
  width: 40%;
  height: 100%;
  float: right; /* Membuat gambar berada di sebelah kanan */
  margin: 0;

  /* margin-left: 5rem; */
}

.tutorial h3 {
  padding: 2rem 1rem 1rem;
}
.tutorial p {
  padding-left: 1rem;
}
.tutorial a {
  color: var(--clr-blk);
  padding: 0.8rem 3rem;
  text-decoration: none;
  /* border: none;
  border-radius: 0.3rem;
  background-color: var(--clr-ijo); */
}
.pembayaran-atm .petunjuk {
  padding: 35px;
}
.pembayaran-atm .petunjuk .pelunasan {
  background: none;
}
.pembayaran-atm .petunjuk .pelunasan a {
  color: var(--clr-blk);
  padding-left: 3rem;
  text-decoration: none;
  background: none;
}
.pembayaran-atm .petunjuk .pelunasan a:hover {
  text-decoration: underline;
  color: var(--clr-bt);
}

/* --------------------- Bottom ------------------------ */
.bottom {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 1rem 0rem 4rem 9rem;
  background: var(--clr-am);
  gap: 4rem;
}
.bottom .bottom__one h2,
.bottom .bottom__two h2,
.bottom .bottom__three h2 {
  padding-bottom: 1rem;
}
.bottom .bottom__one ul,
.bottom .bottom__two ul,
.bottom .bottom__three ul {
  list-style: none;
}
.bottom .bottom__one ul li a span,
.bottom .bottom__two ul li a span,
.bottom .bottom__three ul li a span {
  color: var(--clr-text);
  padding-left: 1rem;
}
footer img {
  padding: 3rem 3rem 3rem 3rem;
  width: 100%;
}
footer p {
  padding: 3rem 3rem 0rem 3rem;
  text-align: center;
}

/* ----------------------------------------------- */
#menu__btn {
  color: var(--clr-bt);
  font-size: 1.7em;
  cursor: pointer;
  display: none;
}

@media (max-width: 830px) {
  body {
    overflow-x: hidden;
  }
  #menu__btn {
    display: initial;
  }
  .nav__bar .navbar {
    position: absolute;
    top: 100%;
    right: 0rem;
    border-radius: 0.5rem;
    width: 30rem;
    background: var(--clr-wth);
    display: inline;
    text-align: center;
    padding-top: 2rem;
    border: 2px solid var(--clr-bord);
    transform: scale(0);
    opacity: 0;
    transition: none;
    transform-origin: top right;
  }
  .nav__bar .navbar.active {
    transform: scale(1);
    opacity: 1;
    transform-origin: 0.2s ease-out;
  }
  .nav__bar ul li {
    padding-bottom: 1.5rem;
  }
  .nav__bar ul {
    display: none;
  }
  .beranda .beranda__first {
    padding-top: 0;
  }
  .beranda .beranda__first h2 {
    font-size: 1.5rem;
  }
  .beranda .beranda__first p {
    font-size: 1rem;
  }
  .beranda .beranda__second img {
    width: 300px;
    height: 300px;
  }
  .about .about__second h4 {
    font-size: 1.4em;
  }
  .about__page .about__one h2,
  .about__page .about__two h2,
  .about__page .about__three h2,
  .about__page .about__four h2,
  .about__page .about__five h2,
  .about__page .about__six h2 {
    font-size: 1em;
  }
  .about .about__first img {
    width: 300px;
    height: 300px;
  }
  .login {
    padding: 1rem 4rem;
  }
  .bottom .bottom__one h2,
  .bottom .bottom__two h2,
  .bottom .bottom__three h2,
  .bottom .bottom__four h2 {
    font-size: 1em;
  }
  .bottom {
    grid-template-columns: repeat(2, 1fr);
    text-align: left;
  }
}
@media (max-width: 750px) {
  .about__page {
    grid-template-columns: repeat(2, 1fr);
  }
  .doctor {
    grid-template-columns: repeat(2, 1fr);
  }
  .login {
    grid-template-columns: repeat(1, 1fr);
  }
  .login .login__first img {
    margin-left: 8rem;
  }
  .about {
    grid-template-columns: repeat(1, 1fr);
  }
  .about .about__first img {
    margin-left: 4rem;
  }
  .pelayanan {
    grid-template-columns: repeat(2, 1fr);
  }
  .beranda {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 580px) {
  body {
    overflow-x: hidden;
  }
  .beranda {
    padding: 4rem 2rem;
  }
  .beranda .beranda__first p,
  .about .about__second p {
    width: 94%;
  }
  .pelayanan {
    grid-template-columns: repeat(1, 1fr);
    padding: 4rem 2rem;
  }
  .about__page,
  .about,
  .doctor,
  .login,
  .bottom {
    padding: 4rem 2rem;
  }
  .login .login__first img {
    margin-left: 0;
  }
  .about__page {
    grid-template-columns: repeat(1, 1fr);
  }
  .doctor {
    grid-template-columns: repeat(1, 1fr);
  }
  .login .login__second button {
    margin: 1rem 10rem;
  }
}
