<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="css/style.css" />
    <title>HANIMAL</title>
  </head>
  <body>
    <nav class="nav-bar">
      <div class="logo">
        <img src="images\logo-hanimal.png" alt="" />
      </div>
  
      <ul class="nav-list">
        <li><a href="home">Beranda</a></li>
        <li><a href="pelayanan">Pelayanan</a></li>
        <li><a href="news">News</a></li>
        <li><a href="aboutus">Tentang Kami</a></li>
        <li><a href="login_portal">Log Out</a></li>
      </ul>
  
      <div id="menu__btn" class="fas fa-bars"></div>
    </nav>
  
  <section id="about">
    <div class="about-hanimal">
      <div class="about-section">
        <h4>
          Hanimal: Inovasi Website Pemanggilan Dokter Hewan untuk Edukasi Masyarakat dan Penanganan Kesehatan Hewan
        </h4>
        <p>
          Hanimal merupakan inovasi dalam bentuk website yang bertujuan untuk memudahkan pemilik hewan dalam memanggil dokter hewan serta mendapatkan edukasi tentang kesehatan hewan. Selain itu, website Hanimal juga memberikan kemudahan dalam berkomunikasi antara masyarakat dan dokter hewan melalui platform yang terintegrasi. Apabila masyarakat menggunakan website Hanimal untuk pemesanan pelayanan kesehatan hewan, maka masyarakat akan mendapatkan harga yang lebih murah dan berkualitas.
        </p>
      </div>
  
      <div class="gambar-section">
        <img src="images/tk-1.png" alt="" />
      </div>
    </div>
  
    <div class="about-hanimal">
      <div class="gambar-section">
        <img src="images/tk-2.png" alt="" />
      </div>
  
      <div class="about-section">
        <h4>Keunggulan Website Hanimal</h4>
        <ul>
          <li>menyediakan dokter hewan yang berpengalaman dan profesional dan memiliki sertifikat resmi</li>
          <li>membantu para pecinta hewan yang bingung untuk melakukan perawatan hewan ketika sedang sibuk atau tidak ada waktu ke klinik</li>
          <li>menyediakan jasa panggil dokter hewan ke rumah dengan tujuan untuk membantu terhadap para pencinta hewan yang membutuhkan bantuan dan peduli terhadap masalah tersebut</li>
          <li>Harga yang cukup terjangkau</li>
        </ul>
      </div>
    </div>
  </section>
  
  <section id="profil-team">
    <div class="profil-team">
      <div class="dospem">
        <h3>Our Tim Hanimal</h3>
        <img src="images/dospem.png" alt="" />
        <h4>drh. Made Sriasih, M. Agr. Sc., Ph. D</h4>
        <p>Dosen Pembimbing</p>
      </div>
  
      <div class="team">
        <div class="ketua">
          <img src="images/ohim.png" alt="" />
          <h4>Abdul Rohim</h4>
          <p>Ketua Tim</p>
        </div>
  
        <div class="anggota-1">
          <img src="images/rabi.png" alt="" />
          <h4>Rabiatul Adawiyah</h4>
          <p>Anggota 1</p>
        </div>
  
        <div class="anggota-2">
          <img src="images/ulya.png" alt="" />
          <h4>Usswatul Ulya</h4>
          <p>Anggota 2</p>
        </div>
  
        <div class="anggota-3">
          <img src="images/dino.png" alt="" />
          <h4>Pradino Septiyawan</h4>
          <p>Anggota 3</p>
        </div>
  
        <div class="anggota-4">
          <img src="images/ilham.png" alt="" />
          <h4>M. Rozi Fatwa Ilham</h4>
          <p>Anggota 4</p>
        </div>
      </div>
    </div>
  </section>  
  </body>
</html>
