<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="css/style.css" />
    <title>Cara Bayar</title>
  </head>

  <body>
    <nav class="nav-bar">
      <div class="logo">
        <img src="images\logo-hanimal.png" alt="" />
      </div>
  
      <ul class="nav-list">
        <li><a href="home">Beranda</a></li>
        <li><a href="pelayanan">Pelayanan</a></li>
        <li><a href="news">News</a></li>
        <li><a href="aboutus">Tentang Kami</a></li>
        <li><a href="login_portal">Log Out</a></li>
      </ul>
  
      <div id="menu__btn" class="fas fa-bars"></div>
    </nav>

    <div class="virtual-account">
        <div class="virtual-account-text">
            <h2>Virtual Account Number</h2>
            <p>357501035109534</p>
            <h3>Nama Virtual Account</h3>
            <p>Abdul Rohim</p>
            <h3>Nominal yang akan dibayarkan</h3>
            <p id="amount"></p>
        </div>
        <img src="images/bank-bri.png" alt="Bank Logo" />
    </div>
    <div class="data">
        <div class="tabs">
            <button class="tab-link active" onclick="openTab(event, 'atm')">ATM</button>
            <button class="tab-link" onclick="openTab(event, 'ibanking')">IBANKING</button>
            <button class="tab-link" onclick="openTab(event, 'mbanking')">MBANKING</button>
        </div>
        <div id="atm" class="tab-content active">
            <div class="instructions">
                <h3>Detail Pembayaran via ATM</h3>
                <ol>
                    <li>Pilih menu "Transfer"</li>
                    <li>Pilih menu "Virtual Account Billing"</li>
                    <li>Masukkan Nomor Virtual Account 89301061200764546</li>
                    <li>Lalu pilih rekening debit yang akan digunakan. Kemudian tekan "Lanjut"</li>
                    <li>Tagihan yang harus dibayarkan akan muncul pada layar konfirmasi</li>
                    <li>Masukkan Kode Otorisasi Token</li>
                </ol>
                <h3>Transaksi Berhasil</h3>
                <ol>
                    <li>Transaksi Anda telah selesai</li>
                    <li>Setelah transaksi anda selesai, invoice ini akan diupdate secara otomatis. Proses ini mungkin memakan waktu hingga 5 menit</li>
                </ol>
            </div>
        </div>
        <div id="ibanking" class="tab-content">
            <div class="instructions">
                <h3>Detail Pembayaran via IBANKING</h3>
                <ol>
                    <li>Buka situs <a href="https://ibank.bri.co.id">https://ibank.bri.co.id</a></li>
                    <li>Masukkan User ID dan Password</li>
                    <li>Pilih menu "Transfer"</li>
                    <li>Pilih menu "Virtual Account Billing"</li>
                    <li>Masukkan Nomor Virtual Account 89301061200764546</li>
                    <li>Lalu pilih rekening debit yang akan digunakan. Kemudian tekan "Lanjut"</li>
                    <li>Tagihan yang harus dibayarkan akan muncul pada layar konfirmasi</li>
                    <li>Masukkan Kode Otorisasi Token</li>
                </ol>
                <h3>Transaksi Berhasil</h3>
                <ol>
                    <li>Transaksi Anda telah selesai</li>
                    <li>Setelah transaksi anda selesai, invoice ini akan diupdate secara otomatis. Proses ini mungkin memakan waktu hingga 5 menit</li>
                </ol>
            </div>
        </div>
        <div id="mbanking" class="tab-content">
            <div class="instructions">
                <h3>Detail Pembayaran via MBANKING</h3>
                <ol>
                    <li>Buka aplikasi Mobile Banking BRI</li>
                    <li>Masukkan User ID dan Password</li>
                    <li>Pilih menu "Transfer"</li>
                    <li>Pilih menu "Virtual Account Billing"</li>
                    <li>Masukkan Nomor Virtual Account 89301061200764546</li>
                    <li>Lalu pilih rekening debit yang akan digunakan. Kemudian tekan "Lanjut"</li>
                    <li>Tagihan yang harus dibayarkan akan muncul pada layar konfirmasi</li>
                    <li>Masukkan Kode Otorisasi Token</li>
                </ol>
                <h3>Transaksi Berhasil</h3>
                <ol>
                    <li>Transaksi Anda telah selesai</li>
                    <li>Setelah transaksi anda selesai, invoice ini akan diupdate secara otomatis. Proses ini mungkin memakan waktu hingga 5 menit</li>
                </ol>
            </div>
        </div>

        <div id="resi-container">
            
        </div>
            
        <div class="buttons">
            <button onclick="goBack()">Kembali</button>
            <button onclick="openResi()">Cetak Resi</button>
        </div>        
    </div>
</div>

<script src="js/cara_bayar.js"></script>
</body>
</html>
