<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="css/styles.css" />
    <title>HANIMAL</title>
  </head>
  <body>
    <nav class="nav__bar">
      <div class="logo">
        <img src="images\logo-hanimal.png" alt="" />
      </div>

      <ul class="navbar">
        <li><a href="home">Beranda</a></li>
        <li><a href="pelayanan">Pelayanan</a></li>
        <li><a href="news">News</a></li>
        <li><a href="aboutus">Tentang Kami</a></li>
        <li><a href="login_portal">Log Out</a></li>
      </ul>

      <div id="menu__btn" class="fas fa-bars"></div>
    </nav>

    <section id="beranda">
      <div class="beranda">
        <div class="beranda__first">
          <p>Selamat Datang di Healthy Animal</p>
          <h4>Dokter hewan senang<br />Kesehatan peternak datang</h4>
          <!-- <div class="search-container">
            <div class="pencarian">
              <p>Temukan</p>
              <div class="search-options">
                <button class="option-btn active">Semua</button>
                <button class="option-btn">Dokter</button>
                <button class="option-btn">Lokasi</button>
              </div>
            </div>
            <input type="text" placeholder="Ketik Kata Kunci" name="search" />
          </div> -->
        </div>
      </div>
    </section>

    <div class="jumlah-dokter">
      <div>
        <h2>100+</h2>
        <p>Tenaga Kesehatan hewan</p>
      </div>

      <div>
        <h2>100+</h2>
        <p>Tenaga kesehatan ternak</p>
      </div>

      <div>
        <h2>100+</h2>
        <p>Pasien dilayani</p>
      </div>
    </div>

    <div class="about__page">
      <div class="about_card">
        <img src="images/beranda-2.png" alt="" />
        <a href="news.html"class="button">Edukasi</a>
      </div>

      <div class="about_card">
        <img src="images/beranda-3.png" alt="" />
        <a href="pelayanan.html" class="button">Pelayanan</a>
      </div>

      <div class="about_card">
        <img src="images/beranda-4.png" alt="" />
        <a href="pelayanan.html"class="button">Dokter</a>
      </div>

      <div class="about_card">
        <img src="images/beranda-5.png" alt="" />
        <a href="news.html"class="button">Produk</a>
      </div>
    </div>

    <section id="About">
      <div class="about">

        <div class="about__second">
          <h4>Pelayanan Dokter Hewan Ke Rumah</h4>
          <p>
            Hanimal merupakan website layanan jasa dokter hewan Panggilan ke
            lokasi untuk semua jenis hewan mulai dari hewan hewan peliharaan,
            hewan ternak, hewan eksotik, hewan liar, hewan harapan, dan hewan
            akuatik. Hanimal adalah website layanan kesehatan yang memudahkan
            pengguna untuk memanggil atau konsultasi dengan tenaga medis ke
            lokasi anda. Saat Ini Hanimal telah hadir di pulau lombok.
          </p>
        </div>

        <div class="about__first">
          <div class="first-one">
            <img src="images/beranda-6.png" alt="" />
            <p>
              <a href="pelayanan.html"
                >Langkah pertama dalam menangani hewan peliharaan</a
              >
            </p>
          </div>

          <div class="first-two">
            <img src="images/beranda-7.png" alt="" />
            <p>
              <a href="news.html"
                >Langkah pertama dalam menangani hewan ternak</a
              >
            </p>
          </div>
        </div>
      </div>
    </section>

    <div class="dokter">
      <h3>Apa Saja Layanan Dokter Hewan Panggilan di Hanimal ?</h3>
      <p>
        Hanimal adalah layanan Dokter hewan Panggilan ke lokasi dan Vaksinisasi
        semua jenis hewan dan ditangani oleh dokter hewan yang profesional dan
        berpengalaman
      </p>
      <div class="dokter-beranda">
        <div class="dokter__one">
          <img src="images/dokhen1.png" alt="" />
          <h2>Dokter Hewan</h2>
          <p>
            Hanimal hadir untuk menyediakan dokter hewan yang membantu dan
            menjadi solusi dengan menyediakan layanan kesehatan perawatan hewan
            peliharaan, hewan ternak, hewan eksotik, hewan liar, hewan harapan,
            dan hewan akuatik
          </p>
        </div>

        <div class="dokter__two">
          <img src="images/dokhen2.png" alt="" />

          <h2>Dokter Hewan Terdekat</h2>
          <p>
            Dokter hewan terdekat dapat dipanggil untuk datang ke lokasi atau
            rumah rumah. Mitra dokter hewan terdekat kami adalah dokter hewan
            panggilan yang professional dan berpengalaman
          </p>
        </div>

        <div class="dokter__three">
          <img src="images/dokhen3.png" alt="" />
          <h2>Vaksinasi Hewan</h2>
          <p>Layanan vaksin pada semau jenis hewan telah tersedia di Hanimal</p>
        </div>
      </div>
    </div>

    <footer>
      <section id="Contact">
        <p>DISUPPORT OLEH</p>
        <img src="images\footerr.png" alt="" class="" />
        <div class="bottom">
          <div class="bottom__one">
            <h2>Quick Links</h2>
            <ul>
              <li>
                <a href="home"
                  ><i class="fas fa-chevron-right"></i><span> Beranda</span></a
                >
              </li>
              <li>
                <a href="pelayanan"
                  ><i class="fas fa-chevron-right"></i
                  ><span> Pelayanan</span></a
                >
              </li>
              <li>
                <a href="news"
                  ><i class="fas fa-chevron-right"></i><span> News</span></a
                >
              </li>
              <li>
                <a href="aboutus"
                  ><i class="fas fa-chevron-right"></i
                  ><span> Tentang Kami</span></a
                >
              </li>
            </ul>
          </div>
          <div class="bottom__three">
            <h2>Contact Information</h2>
            <ul>
              <li>
                <a href="https://wa.me/6287851645592">
                  <i class="fa-solid fa-phone"></i><span>087851645592</span></a
                >
              </li>
              <li>
                <a href="mailto:pkmkpkmkhanimalunram@gmail.com">
                  <i class="fa-solid fa-envelope"></i
                  ><span> pkmkpkmkhanimalunram@gmail.com</span></a
                >
              </li>
              <li>
                <a href="#"
                  ><i class="fa-solid fa-location-crosshairs"></i
                  ><span
                    >C37V+5X5, Gomong, Kec. Selaparang, Kota Mataram, Nusa
                    Tenggara Barat. 83115</span
                  ></a
                >
              </li>
            </ul>
          </div>
          <div class="bottom__three">
            <h2>Follow Us</h2>
            <ul>
              <li>
                <a
                  href="https://www.facebook.com/profile.php?id=61558413494596&mibextid=ZbWKwL"
                >
                  <i class="fa-brands fa-facebook"></i><span>Facebook</span></a
                >
              </li>
              <li>
                <a
                  href="https://www.tiktok.com/@hanimal.id?_t=8lgMNiyTy08&_r=1"
                >
                  <i class="fa-brands fa-tiktok"></i><span>Tiktok</span></a
                >
              </li>
              <li>
                <a
                  href="https://x.com/pkmk2024Hanimal?t=dYuIl9_vvR_ObT1no-BA7g&s=09"
                >
                  <i class="fa-brands fa-x-twitter"></i><span>Twitter</span></a
                >
              </li>
              <li>
                <a
                  href="https://www.instagram.com/hanimal.pkmk?igsh=cTdlcWtwYmhwaDlm"
                >
                  <i class="fa-brands fa-instagram"></i
                  ><span> Instagram</span></a
                >
              </li>
              <li>
                <a
                  href="https://youtube.com/@PKMK2024HANIMAL?si=UpWYNV-1EjN2apeE"
                  ><i class="fa-brands fa-youtube"></i><span>Youtube</span></a
                >
              </li>
            </ul>
          </div>
        </div>
      </section>
    </footer>
  </body>
</html>
