<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Portal HANIMAL</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="portal-container">
        <div class="login-box">
            <img src="images\logo-hanimal.png" alt="Healthy Animal" class="logo">
            <h1>Portal Login HANIMAL</h1>
            <p>Silahkan pilih halaman login sesuai dengan status Anda</p>
            <div class="buttons">
                <button onclick="location.href='/login_doctor'">Dokter</button>
                <button onclick="location.href='/home'">Pengunjung</button>
            </div>
            <button class="back-button" onclick="location.href=''">Kembali</button>
        </div>
    </div>
</body>
</html>
