<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="css/styles.css" />
    <title>HANIMAL</title>
  </head>
  <body>
    <nav class="nav__bar">
      <div class="logo">
        <img src="images\logo-hanimal.png" alt="" />
      </div>

      <ul class="navbar">
        <li><a href="home">Beranda</a></li>
        <li><a href="pelayanan">Pelayanan</a></li>
        <li><a href="news">News</a></li>
        <li><a href="aboutus">Tentang Kami</a></li>
        <li><a href="login_portal">Log Out</a></li>
      </ul>

      <div id="menu__btn" class="fas fa-bars"></div>
    </nav>

    <section id="news">
      <div class="news">
        <h2>Artikel Terkait</h2>
        <div class="isi">
          <div class="news_one">
            <img src="images\news-1.png" alt=""/>
            <a href="https://www.antaranews.com/berita/4159623/dkpp-minta-peternak-rutin-beri-ternak-obat-cacing-cegah-cacing-hati?utm_source=antaranews&utm_medium=desktop&utm_campaign=related_news">DKPP minta peternak rutin beri ternak obat cacing cegah cacing hati</a>
          </div>
          <div class="news_two">
            <img src="images\news-2.png" alt=""/>
            <a href="https://www.antaranews.com/berita/4156473/dkpp-bantul-temukan-puluhan-hewan-kurban-miliki-cacing-hati?utm_source=antaranews&utm_medium=desktop&utm_campaign=related_news">DKPP Bantul temukan puluhan hewan kurban miliki cacing hati</a>
          </div>
          <div class="news_three">
            <img src="images\news-3.png" alt=""/>
            <a href="https://www.antaranews.com/video/4149459/wabah-pmk-merebak-peternakdi-batang-diminta-waspada?utm_source=antaranews&utm_medium=desktop&utm_campaign=related_news">Wabah PMK merebak, peternak di Batang diminta waspada</a>
          </div>
          <div class="news_four">
            <img src="images\news-4.png" alt=""/>
            <a href="https://www.antaranews.com/video/4156380/petugas-temanggung-temukan-cacing-hati-pada-hewan-kurban?utm_source=antaranews&utm_medium=related&utm_campaign=related_player">Petugas Temanggung temukan cacing hati pada hewan kurban</a>
          </div>
          <div class="news_five">
            <img src="images\news-5.png" alt=""/>
            <a href="https://www.antaranews.com/video/3593277/pemkab-temanggung-intesif-tes-kesehatan-dan-distribusi-hewan-ternak?utm_source=antaranews&utm_medium=desktop&utm_campaign=related_news">Pemkab Temanggung intesif tes kesehatan dan distribusi hewan ternak</a>
          </div>
          <div class="news_six">
            <img src="images\news-6.png" alt=""/>
            <a href="https://www.antaranews.com/video/4182117/distanak-sultra-siapkan-klinik-hewan-gratis-bagi-masyarakat">Distanak Sultra siapkan klinik hewan gratis bagi masyarakat</a>
          </div>
          <div class="news_seven">
            <img src="images\news-7.png" alt=""/>
            <a href="https://www.antaranews.com/berita/4192623/kepulauan-seribu-cegah-penyebaran-rabies-dengan-vaksinasi-hewan-liar">Kepulauan Seribu cegah penyebaran rabies dengan vaksinasi hewan liar</a>
          </div>
          <div class="news_eight">
            <img src="images\news-8.png" alt=""/>
            <a href="https://www.antaranews.com/berita/4140324/papua-tetapkan-status-darurat-wabah-asf">Papua tetapkan status darurat wabah ASF</a>
          </div>
          <div class="news_nine">
            <img src="images\news-9.png" alt=""/>
            <a href="https://www.antaranews.com/berita/4174404/lima-orang-meninggal-dunia-akibat-rabies-di-kalbar">Lima orang meninggal dunia akibat rabies di Kalbar</a>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
