<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="css/styles.css" />
    <title>HANIMAL</title>
  </head>
  <body>
    <nav class="nav__bar">
      <div class="logo">
        <img src="images\logo-hanimal.png" alt="" />
      </div>

      <ul class="navbar">
        <li><a href="home">Beranda</a></li>
        <li><a href="pelayanan">Pelayanan</a></li>
        <li><a href="news">News</a></li>
        <li><a href="aboutus">Tentang Kami</a></li>
        <li><a href="login_portal">Log Out</a></li>
      </ul>

      <div id="menu__btn" class="fas fa-bars"></div>
    </nav>

    <section id="news">
      <div class="news">
        <h2>Artikel Terkait</h2>
        <div class="isi">
          <div class="news_one">
            <img src="images\news-1.png" alt=""/>
            <a href="#">Spirit "Wadas Melawan" dalam Ide Peternakan Kambing Komunitas Berbasis Komunitas dan Budaya di Desa Wadas", </a>
          </div>
          <div class="news_two">
            <img src="images\news-2.png" alt=""/>
            <a href="#">Pasca PMK Waspadai Penyakit Menular Pendatang Baru "LSD dan PPR" Menjelang Idul Adha</a>
          </div>
          <div class="news_three">
            <img src="images\news-3.png" alt=""/>
            <a href="#">"Perkembangan Industri Pakan Menjadi Faktor Penentu Perkembangan Peternakan di Indonesia"</a>
          </div>
          <div class="news_four">
            <img src="images\news-4.png" alt=""/>
            <a href="#">"Peluang Bisnis Peternakan Kambing di Desa Jambuwer"</a>
          </div>
          <div class="news_five">
            <img src="images\news-5.png" alt=""/>
            <a href="#">"Pemetaan Potensi Wilayah, Daya Saing, dan Kerjasama Antar Wilayah di Kabupaten Bontang"</a>
          </div>
          <div class="news_six">
            <img src="images\news-6.png" alt=""/>
            <a href="#">"Pemetaan Potensi Wilayah, Daya Saing dan Kerja Sama Antar Wilayah di Kabupaten Bulungan"</a>
          </div>
          <div class="news_seven">
            <img src="images\news-7.png" alt=""/>
            <a href="#">"Simbiosis Mutualisme antara Pertanian dan Peternakan: Menjaga Keseimbangan dalam Ketahanan Pangan"</a>
          </div>
          <div class="news_eight">
            <img src="images\news-8.png" alt=""/>
            <a href="#">"Tingkatkan Produktivitas Peternakan Kambing di Desa Serangan: Peserta KKN T 35 UNIDA Gontor Adakan Seminar dan Penyuluhan Bersama Dinas Pertanian"</a>
          </div>
          <div class="news_nine">
            <img src="images\news-9.png" alt=""/>
            <a href="#">"Ternak Kambing Menjadi Trend, Mayoritas Warga Desa Serangan Memiliki Peternakan Kambing (KKN T UNIDA Gontor)",</a>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
