<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<nav class="nav-bar">
    <div class="logo">
      <img src="images\logo-hanimal.png" alt="" />
    </div>

    <ul class="nav-list">
      <li><a href="home">Beranda</a></li>
      <li><a href="pelayanan">Pelayanan</a></li>
      <li><a href="news">News</a></li>
      <li><a href="aboutus">Tentang Kami</a></li>
      <li><a href="login_portal">Log Out</a></li>
    </ul>

    <div id="menu__btn" class="fas fa-bars"></div>
</nav>